body {
    margin: 0;
    padding: 0 16px;
    min-height: 75rem;
    padding-top: 4.5rem;
}

#tabela {
    max-width: 50%;

}

#botoes {
    margin-top: 20px;
}

.container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 2rem;
}

#card-lideres {
    max-width: 1000px;
    
    padding: 0 2rem;
}