ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav {
    background-color: #FFF;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}

.topnav a:hover {
    opacity: 80%;
    background-color: #FDD034;
    color: #D52D8B;
}

.card {
    background-color: #FFFFFF;
    width: 800px;
    min-height: auto;
    padding: 30px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.title {
    margin-bottom: 40px;
}

.btn {
    width: 150px;
    height: 40px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-secondary {
    background: linear-gradient(#FFFFFF, #FFFFFF) padding-box, linear-gradient(to bottom right, #FDD034, #D52D8B) border-box;
    border-radius: 50em;
    border: 1px solid transparent;
    color: #D52D8B;
    color: linear-gradient(to bottom right, #FDD034, #D52D8B);
}

.btn-danger {
    background: #FF0000;
    border: none;
    color: #FFFFFF;
}

.btn-danger:hover {
opacity: 50%;
}

.buttons {
    text-align: center;
}