.card {
    background-color: #FFFFFF;
    width: 800px;
    height: 400px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.btn {
    width: 120px;
    height: 40px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
}

.btn-secondary {
    background: linear-gradient(#FFFFFF, #FFFFFF) padding-box,linear-gradient(to bottom right, #FDD034, #D52D8B) border-box;
    border-radius: 50em;
    border: 1px solid transparent;
    color: #D52D8B;
    color: linear-gradient(to bottom right, #FDD034, #D52D8B);
}

.btn-secondary:hover {
    background: linear-gradient(to bottom right, #FDD034, #D52D8B);
    color: #FFFFFF;
    border: none;
}

table {
    border-collapse: collapse;
    border: none;
    
}

td, th {
    padding: 10px;
    margin: 0;
}

 tr:nth-child(even) {
    background-color: #f2f2f2;
}