.card {
    background-color: #FFFFFF;
    width: 280px;
    height: 400px;
    padding: 30px;
    border-radius: 10px;
}

.title {
    margin-bottom: 40px;
}

label {
    font-size: 16px;
    font-weight: 400;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #7D7D7D;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    height: 40px;
    margin-bottom: 8px;
}

.user {
    background-image: url("../images/user-solid.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 12px;
    padding-left: 2em;
}

.password {
    background-image: url("../images/lock-solid.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 12px;
    padding-left: 2em;
}

.forgot-password {
    display: inline;
    font-size: 10px;
    float: right;
    text-decoration: none;
    color: #000000;
    margin: -8px 0;
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 30px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
}

.btn-secondary {
    background: linear-gradient(#FFFFFF, #FFFFFF) padding-box,linear-gradient(to bottom right, #FDD034, #D52D8B) border-box;
    border-radius: 50em;
    border: 1px solid transparent;
    color: #D52D8B;
    color: linear-gradient(to bottom right, #FDD034, #D52D8B);
}

.btn-secondary:hover {
    background: linear-gradient(to bottom right, #FDD034, #D52D8B);
    color: #FFFFFF;
    border: none;
}

/* Recuperação de Senha */

.card-password {
    background-color: #FFFFFF;
    width: 280px;
    height: 340px;
    padding: 30px;
    border-radius: 10px;
}

.card-password .title {
    font-size: 20px;
}
