.card {
    background-color: var(--white);
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    min-height: auto;
}

.title {
    margin-bottom: 40px;
}

.user {
    background-image: url("../images/user-solid.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 12px;
    padding-left: 2em;
}

.password {
    background-image: url("../images/lock-solid.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 12px;
    padding-left: 2em;
}

.forgot-password {
    display: inline;
    font-size: 12px;
    text-align: right;
    text-decoration: none;
    color: var(--black);
    margin: -8px 0;
    padding: 10px 0;
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
}